arquivos modificados gpt/LancheFlow.json
{
  "name": "LancheFlow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lancheflow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4786f30a-7061-4177-a4fd-b173e6e29996",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        192
      ],
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst remoteJid = body?.data?.key?.remoteJid || body?.data?.remoteJid || body?.remoteJid || body?.key?.remoteJid || '';\nconst fromMe = body?.data?.key?.fromMe === true;\nconst isGroup = remoteJid.includes('@g.us');\nconst isNewsletter = remoteJid.includes('@newsletter');\nconst isLid = remoteJid.includes('@lid');\nconst numeroLimpo = remoteJid.replace('@s.whatsapp.net','').replace('@c.us','').replace('@lid','_lid');\nconst msgData = body?.data?.message || {};\nconst messageType = body?.data?.messageType || Object.keys(msgData)[0] || '';\nlet mensagem = '';\nlet localizacao = null;\nif (messageType === 'locationMessage' || msgData.locationMessage) {\n  const loc = msgData.locationMessage || {};\n  mensagem = '__LOCALIZACAO__';\n  localizacao = { lat: loc.degreesLatitude || 0, lng: loc.degreesLongitude || 0, nome: loc.name || '' };\n} else {\n  mensagem = (msgData.conversation || msgData.extendedTextMessage?.text || msgData.imageMessage?.caption || msgData.documentMessage?.caption || '').trim().toLowerCase();\n}\nconst pushName = body?.data?.pushName || body?.data?.verifiedBizName || 'Cliente';\nconst messageId = body?.data?.key?.id || '';\nconst timestamp = body?.data?.messageTimestamp || Date.now();\n\n// === BLOQUEIO DE ATENDIMENTO HUMANO ===\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.memoriaClientes) staticData.memoriaClientes = {};\nconst memoria = staticData.memoriaClientes;\nconst INATIVIDADE_30MIN = 30 * 60 * 1000;\nconst PALAVRAS_RESET_BOT = ['bot', 'atendimento automatico', 'atendimento automático', 'opcoes'];\n\nif (fromMe && remoteJid) {\n  if (!memoria[remoteJid]) {\n    memoria[remoteJid] = { estado: 'inicio', ultima_intencao: null, etapa: 'nova_conversa', ultima_interacao: Date.now() };\n  }\n  memoria[remoteJid].atendimentoHumano = true;\n  memoria[remoteJid].ultimaInteracaoHumana = Date.now();\n}\n\nlet bloqueadoPorHumano = false;\nif (!fromMe && memoria[remoteJid]?.atendimentoHumano === true) {\n  const pedindoBot = PALAVRAS_RESET_BOT.includes(mensagem);\n  const inativo = Date.now() - (memoria[remoteJid].ultimaInteracaoHumana || 0) > INATIVIDADE_30MIN;\n  if (pedindoBot || inativo) {\n    memoria[remoteJid].atendimentoHumano = false;\n  } else {\n    memoria[remoteJid].ultimaInteracaoHumana = Date.now();\n    bloqueadoPorHumano = true;\n  }\n}\n// === FIM BLOQUEIO ===\n\nconst podeResponder = !fromMe && !isGroup && !isNewsletter && remoteJid !== '' && !bloqueadoPorHumano;\nreturn [{ json: { remoteJid, numeroLimpo, mensagem, mensagemOriginal: mensagem, localizacao, messageType, pushName, messageId, timestamp, fromMe, isGroup, isLid, podeResponder, bloqueadoPorHumano, _raw: body } }];"
      },
      "id": "8cee3e9d-53e4-40b2-9957-d78f6e5fb7d1",
      "name": "Normalizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-pode-responder",
              "leftValue": "={{ $json.podeResponder }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "98dcd9d0-80b5-4351-9d91-61faf36a51eb",
      "name": "Pode Responder?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -432,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst remoteJid = dados.remoteJid;\nconst mensagem = dados.mensagem;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.sessoes) staticData.sessoes = {};\nconst agora = Date.now();\nconst TIMEOUT = 30 * 60 * 1000;\nfor (const jid in staticData.sessoes) {\n  if (agora - (staticData.sessoes[jid].ultimaAtividade || 0) > TIMEOUT) delete staticData.sessoes[jid];\n}\nlet sessao = staticData.sessoes[remoteJid];\nif (!sessao) {\n  sessao = { estado: 'inicio', ultimaAtividade: agora, nome: dados.pushName };\n  staticData.sessoes[remoteJid] = sessao;\n}\nsessao.ultimaAtividade = agora;\nconst reset = ['oi', 'ola', 'bom dia', 'boa tarde', 'boa noite', 'reiniciar', 'inicio', 'começar'];\nif (reset.includes(mensagem)) sessao.estado = 'inicio';\nconst estadoAtual = sessao.estado;\nconst temHistorico = Array.isArray(sessao.historico) && sessao.historico.length > 0;\nconst rota = (estadoAtual === 'inicio' && !temHistorico) ? 'menu_principal' : 'processador';\nreturn [{ json: { ...dados, estadoAtual, rota, sessao } }];"
      },
      "id": "139378b8-ccc0-4d22-92c5-04db32fb1b46",
      "name": "Motor de Estado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        96
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rota }}",
                    "rightValue": "menu_principal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "92065663-731d-47a3-b0c0-28f6b2ef7b18"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "menu_principal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rota }}",
                    "rightValue": "processador",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a5dc7323-bea9-46ab-9e1e-c86e7173d7f0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "processador"
            }
          ]
        },
        "options": {}
      },
      "id": "8a705893-24c5-4c23-814a-1f13a5fdb1eb",
      "name": "Roteador",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        16,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst nome = dados.pushName || '';\nconst staticData = $getWorkflowStaticData('global');\nconst sessao = staticData.sessoes[dados.remoteJid];\nif (sessao) sessao.estado = 'aguardando';\n\nconst LINK_CARDAPIO = '{{LINK_CARDAPIO}}';\nconst msg = (dados.mensagem || '').trim().toLowerCase();\n\n// Se já chegou com intenção de cardápio/pedido, responde direto sem saudação dupla\nconst querCardapio = /card[áa]pio|menu|o que tem|ver (os )?pratos?|op[çc][õo]es?/.test(msg);\nconst querPedir = /quero|vou querer|p[eê]de|me manda|queria/.test(msg);\n\nlet texto;\nif (querCardapio) {\n  texto = `Aqui está nosso cardápio 👇\\n${LINK_CARDAPIO}\\n\\nViu algo que gostou? Me fala que eu anoto o pedido 😊`;\n} else if (querPedir) {\n  texto = nome ? `Boa, ${nome.split(' ')[0]}! Me fala o que você vai querer 😊` : 'Boa! Me fala o que você vai querer 😊';\n} else {\n  const primeiro = nome ? nome.split(' ')[0] : '';\n  texto = primeiro\n    ? `Fala, ${primeiro}! 👋 Aqui é o Grill Central. Me diz o que vai querer que já monto teu pedido 😊`\n    : `Fala! 👋 Aqui é o Grill Central. Me diz o que vai querer que já monto teu pedido 😊`;\n}\n\nreturn [{ json: { ...dados, textoResposta: texto } }];"
      },
      "id": "27d9f463-9b0f-4f36-8055-321e98d746a5",
      "name": "Menu Principal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst msg = (dados.mensagem || '').trim().toLowerCase();\nconst msgOrig = dados.mensagemOriginal || msg;\nconst nome = dados.pushName || '';\nconst staticData = $getWorkflowStaticData('global');\nconst sessao = staticData.sessoes[dados.remoteJid];\nconst hBR = new Date(Date.now() - 3 * 60 * 60 * 1000);\nconst hora = hBR.getHours();\nconst diaSemana = hBR.getDay();\n\nconst LINK_CARDAPIO = '{{LINK_CARDAPIO}}';\n\n// ─── NORMALIZE ────────────────────────────────────────────────────────────────\nfunction normalizeText(text) {\n  return (text || '')\n    .toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/-/g, ' ')\n    .replace(/[^\\w\\s]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// ─── MENU SERVICE ─────────────────────────────────────────────────────────────\n// TODO: PDV — trocar por: const PRODUTOS = await PDVAdapter.getProducts();\nconst MOCK_PRODUCTS = [\n  // XIS\n  { id:'xs001',   name:'X Salada',                          aliases:['x salada','xis salada','salada'],                                              price:29.9,  active:true, category:'XIS'        },\n  { id:'xc001',   name:'X Coração',                         aliases:['x coracao','xis coracao','coração','coracao'],                                  price:31.0,  active:true, category:'XIS'        },\n  { id:'xcal001', name:'X Calabresa',                       aliases:['x calabresa','xis calabresa','calabresa'],                                      price:31.0,  active:true, category:'XIS'        },\n  { id:'xcos001', name:'X Costelão',                        aliases:['x costelao','xis costelao','costelao','costelão'],                               price:33.0,  active:true, category:'XIS'        },\n  { id:'xb001',   name:'X Bacon',                           aliases:['x bacon','xbacon','bacon','xis bacon'],                                         price:33.0,  active:true, category:'XIS'        },\n  { id:'xfm001',  name:'X Filé Mignon',                     aliases:['x file','x file mignon','file mignon','filé mignon'],                           price:45.0,  active:true, category:'XIS'        },\n  { id:'xa001',   name:'X Alcatra',                         aliases:['x alcatra','alcatra'],                                                          price:34.0,  active:true, category:'XIS'        },\n  { id:'xf001',   name:'X Frango',                          aliases:['x frango','frango'],                                                            price:31.0,  active:true, category:'XIS'        },\n  // ALHO NEGRO\n  { id:'pan001',  name:'Pão de Alho Negro com Alcatra',     aliases:['alho negro alcatra','pao alho alcatra','alcatra alho negro'],                    price:42.0,  active:true, category:'ALHO_NEGRO' },\n  { id:'pan002',  name:'Pão de Alho Negro com Coração e Bacon', aliases:['alho negro coracao bacon','pao alho coracao bacon'],                        price:39.9,  active:true, category:'ALHO_NEGRO' },\n  { id:'pan003',  name:'Pão de Alho Negro com Costela Desfiada', aliases:['alho negro costela','pao alho costela'],                                   price:39.9,  active:true, category:'ALHO_NEGRO' },\n  // PORÇÕES\n  { id:'batm001', name:'Batata Frita M',                    aliases:['batata media','batata m'],                                                      price:15.0,  active:true, category:'PORCOES'    },\n  { id:'batg001', name:'Batata Frita G',                    aliases:['batata grande','batata g'],                                                     price:22.0,  active:true, category:'PORCOES'    },\n  { id:'batbm001',name:'Batata com Bacon M',                aliases:['batata bacon media','batata bacon m'],                                           price:22.0,  active:true, category:'PORCOES'    },\n  { id:'batbg001',name:'Batata com Bacon G',                aliases:['batata bacon grande','batata bacon g'],                                          price:29.0,  active:true, category:'PORCOES'    },\n  // BEBIDAS\n  { id:'cer001',  name:'Cerveja Long Neck',                 aliases:['long neck','heineken','corona'],                                                price:12.0,  active:true, category:'BEBIDAS'    },\n  { id:'cer002',  name:'Cerveja Lata',                      aliases:['cerveja lata','lata cerveja'],                                                  price: 7.0,  active:true, category:'BEBIDAS'    },\n  { id:'ref001',  name:'Refrigerante Lata 350ml',           aliases:['refri lata','coca lata','guarana lata'],                                        price: 6.0,  active:true, category:'BEBIDAS'    },\n  { id:'ref002',  name:'Refrigerante 600ml',                aliases:['coca 600','refri 600'],                                                         price: 9.0,  active:true, category:'BEBIDAS'    },\n  { id:'ref003',  name:'Refrigerante 2L',                   aliases:['coca 2l','refri 2 litros'],                                                     price:18.0,  active:true, category:'BEBIDAS'    },\n  { id:'agua001', name:'Água Mineral 500ml',                aliases:['agua','agua mineral'],                                                          price: 5.0,  active:true, category:'BEBIDAS'    },\n];\n\nconst MenuService = {\n  findProductByText(text) {\n    const t = normalizeText(text);\n    return MOCK_PRODUCTS.find(p => p.active && (\n      t.includes(normalizeText(p.name)) ||\n      p.aliases.some(a => t.includes(normalizeText(a)))\n    )) || null;\n  },\n  findSimilarProducts(text) {\n    const t = normalizeText(text);\n    const words = t.split(' ').filter(w => w.length > 2);\n    return MOCK_PRODUCTS.filter(p => p.active && words.some(w =>\n      normalizeText(p.name).includes(w) ||\n      p.aliases.some(a => normalizeText(a).includes(w))\n    )).slice(0, 3);\n  },\n  getProductById(id) { return MOCK_PRODUCTS.find(p => p.id === id) || null; },\n  listActiveProducts() { return MOCK_PRODUCTS.filter(p => p.active); },\n  calculateItemsTotal(items) { return items.reduce((sum, i) => sum + (i.subtotal || 0), 0); }\n};\n\n// ─── PDV ADAPTER stub ─────────────────────────────────────────────────────────\nconst PDVAdapter = {\n  createOrder(orderState) {\n    // TODO: PDV — descomentar quando integração real estiver pronta:\n    // return await helpers.httpRequest({ method:'POST', url:`${PDV_URL}/orders`,\n    //   headers:{'Content-Type':'application/json','Authorization':`Bearer ${PDV_TOKEN}`},\n    //   body:JSON.stringify(orderState), json:true });\n    return { success: true, orderId: 'MOCK-' + Date.now() };\n  }\n};\n\n// ─── HELPERS ─────────────────────────────────────────────────────────────────\nfunction extractQuantity(text) {\n  const t = normalizeText(text);\n  if (/\\bmais (um|uma)\\b/.test(t)) return 1;\n  const numWords = { 'um': 1, 'uma': 1, 'dois': 2, 'duas': 2, 'tres': 3, 'quatro': 4, 'cinco': 5, 'seis': 6 };\n  const nm = t.match(/(\\d+)\\s*x\\s/) || t.match(/^(\\d+)\\s/) || t.match(/\\s(\\d+)\\s*x?\\s/);\n  if (nm) return Math.max(1, Math.min(parseInt(nm[1]), 20));\n  const words = t.split(' ');\n  for (const [w, n] of Object.entries(numWords)) {\n    if (words[0] === w || words.includes(w)) return n;\n  }\n  return 1;\n}\n\nfunction extractObservations(text) {\n  const obs = [];\n  const patterns = [\n    /\\bsem\\s+\\w+/gi,\n    /\\btirar\\s+\\w+/gi,\n    /\\bbem\\s+passad[oa]/gi,\n    /\\bao\\s+ponto/gi,\n    /\\bmal\\s+passad[oa]/gi,\n  ];\n  for (const pat of patterns) {\n    const found = text.match(pat) || [];\n    obs.push(...found.map(o => o.trim()));\n  }\n  return [...new Set(obs)];\n}\n\nfunction addItemToOrder(orderState, product, quantity, observations) {\n  const obsKey = [...observations].sort().join('|');\n  const existing = orderState.items.find(\n    i => i.productId === product.id && [...i.observations].sort().join('|') === obsKey\n  );\n  if (existing) {\n    existing.quantity += quantity;\n    existing.subtotal = existing.unitPrice * existing.quantity;\n  } else {\n    orderState.items.push({\n      productId: product.id, name: product.name, quantity,\n      unitPrice: product.price, observations, subtotal: product.price * quantity\n    });\n  }\n  orderState.itemsTotal = MenuService.calculateItemsTotal(orderState.items);\n}\n\nfunction notFoundReply(text) {\n  const similar = MenuService.findSimilarProducts(text);\n  if (similar.length > 0) {\n    return 'Esse não temos, mas temos ' + similar.map(p => p.name).join(' e ') + ' 👍 Quer algum desses?';\n  }\n  return 'Hmm, não encontrei esse item. Dá uma olhada no cardápio 👇\\n' + LINK_CARDAPIO + '\\nMe fala o que vai querer!';\n}\n\nfunction fmtR(v) { return 'R$ ' + v.toFixed(2).replace('.', ','); }\n\nfunction buildSummary(os) {\n  let itens = '';\n  for (const item of os.items) {\n    const obs = item.observations.length ? ' (' + item.observations.join(', ') + ')' : '';\n    itens += item.quantity + 'x ' + item.name + obs + ' — ' + fmtR(item.subtotal) + '\\n';\n  }\n  const total = fmtR(os.itemsTotal);\n  let entrega = '';\n  if (os.deliveryType === 'delivery') {\n    const end = os.address || (os.gpsLocation ? 'GPS ' + os.gpsLocation.lat + ',' + os.gpsLocation.lng : 'a confirmar');\n    entrega = 'Entrega: ' + end + '\\n';\n  } else {\n    entrega = 'Retirada no local 🏃\\n';\n  }\n  const pgto = os.paymentMethod ? 'Pagamento: ' + os.paymentMethod + '\\n' : '';\n  const frete = os.deliveryType === 'delivery' ? ' + frete' : '';\n  return 'Ficou assim 👇\\n' + itens + entrega + pgto + 'Total: ' + total + frete;\n}\n\nfunction newOS() {\n  return { items: [], deliveryType: null, address: null, gpsLocation: null,\n           paymentMethod: null, changeFor: null, itemsTotal: 0, deliveryFee: 0, grandTotal: 0, status: 'draft' };\n}\n\n// ─── MEMÓRIA ─────────────────────────────────────────────────────────────────\nif (!staticData.memoriaClientes) staticData.memoriaClientes = {};\nconst memoria = staticData.memoriaClientes;\nconst numero = dados.remoteJid;\nconst RESET_2H = 2 * 60 * 60 * 1000;\nif (!memoria[numero] || (Date.now() - (memoria[numero].ultima_interacao || 0) > RESET_2H)) {\n  memoria[numero] = { estado: 'inicio', ultima_intencao: null, etapa: 'nova_conversa',\n    orderState: newOS(), lastItemAdded: null, ultima_interacao: Date.now() };\n}\nconst cliente = memoria[numero];\ncliente.ultima_interacao = Date.now();\nif (!cliente.orderState) cliente.orderState = newOS();\nif (!('lastItemAdded' in cliente)) cliente.lastItemAdded = null;\n\n// ENCERRAMENTO\nif (/obrigad|tchau|valeu|at[eé] logo|flw|at[eé] mais|xau/.test(msg)) {\n  if (sessao) { sessao.historico = []; sessao.estado = 'inicio'; }\n  memoria[numero] = { estado: 'inicio', ultima_intencao: null, etapa: 'nova_conversa',\n    orderState: newOS(), lastItemAdded: null, ultima_interacao: Date.now() };\n  const dp = ['Disponha! 😊 Qualquer coisa é só chamar.', 'Até logo! Volte sempre 👋', 'Foi um prazer! 😊'];\n  return [{ json: { ...dados, textoResposta: dp[Math.floor(Math.random() * dp.length)], chamarLLM: false } }];\n}\n\n// ─── OBSERVAÇÃO SEM PRODUTO (aplicar ao último item) ─────────────────────────\nif (\n  (cliente.etapa === 'aguardando_complemento' || cliente.etapa === 'aguardando_item') &&\n  cliente.lastItemAdded && !MenuService.findProductByText(msg)\n) {\n  const obs = extractObservations(msgOrig);\n  if (obs.length > 0) {\n    const last = cliente.orderState.items.find(i => i.productId === cliente.lastItemAdded);\n    if (last) {\n      last.observations.push(...obs.filter(o => !last.observations.includes(o)));\n      return [{ json: { ...dados, textoResposta: 'Anotado: ' + obs.join(', ') + ' no ' + last.name + ' ✅\\nMais alguma coisa?', chamarLLM: false } }];\n    }\n  }\n}\n\n// ─── FLUXO DE PEDIDO ─────────────────────────────────────────────────────────\n\nif (cliente.etapa === 'aguardando_item') {\n  const quantity = extractQuantity(msgOrig);\n  const product = MenuService.findProductByText(msg);\n  const observations = extractObservations(msgOrig);\n  if (product) {\n    addItemToOrder(cliente.orderState, product, quantity, observations);\n    cliente.lastItemAdded = product.id;\n    cliente.etapa = 'aguardando_complemento';\n    const obsText = observations.length ? ' (' + observations.join(', ') + ')' : '';\n    return [{ json: { ...dados, textoResposta: 'Anotado: ' + quantity + 'x ' + product.name + obsText + ' 😊\\nQuer adicionar alguma bebida ou acompanhamento?', chamarLLM: false } }];\n  }\n  return [{ json: { ...dados, textoResposta: notFoundReply(msg), chamarLLM: false } }];\n}\n\nif (cliente.etapa === 'aguardando_complemento') {\n  if (/n[ãa]o|s[óo] isso|pode fechar|sem mais|t[áa] [óo]timo|t[áa] bom|pode|fechou/.test(msg)) {\n    cliente.etapa = 'aguardando_tipo_entrega';\n    return [{ json: { ...dados, textoResposta: 'Certo! 👍 Vai ser entrega ou você retira aqui?', chamarLLM: false } }];\n  }\n  const quantity = extractQuantity(msgOrig);\n  const product = MenuService.findProductByText(msg);\n  const observations = extractObservations(msgOrig);\n  if (product) {\n    addItemToOrder(cliente.orderState, product, quantity, observations);\n    cliente.lastItemAdded = product.id;\n    const obsText = observations.length ? ' (' + observations.join(', ') + ')' : '';\n    return [{ json: { ...dados, textoResposta: 'Anotado: ' + quantity + 'x ' + product.name + obsText + ' 👍\\nMais alguma coisa ou pode fechar?', chamarLLM: false } }];\n  }\n  cliente.etapa = 'aguardando_tipo_entrega';\n  return [{ json: { ...dados, textoResposta: 'Ótimo! Vai ser entrega ou você retira aqui? 🛵', chamarLLM: false } }];\n}\n\nif (cliente.etapa === 'aguardando_tipo_entrega') {\n  if (/retir|buscar|pass(o|ar)|l[áa] eu|vou at[eé]|pego|retirad/.test(msg)) {\n    cliente.orderState.deliveryType = 'retirada'; cliente.orderState.deliveryFee = 0;\n    cliente.etapa = 'aguardando_pagamento';\n    return [{ json: { ...dados, textoResposta: 'Retirada anotada 👍 Como vai pagar? Dinheiro, PIX ou cartão?', chamarLLM: false } }];\n  }\n  cliente.orderState.deliveryType = 'delivery';\n  cliente.etapa = 'aguardando_endereco';\n  return [{ json: { ...dados, textoResposta: 'Me passa o endereço completo 📍 Rua, número e bairro.', chamarLLM: false } }];\n}\n\nif (cliente.etapa === 'aguardando_endereco') {\n  if (msg === '__localizacao__' && dados.localizacao) {\n    cliente.orderState.gpsLocation = dados.localizacao; cliente.orderState.address = null;\n  } else { cliente.orderState.address = msgOrig; cliente.orderState.gpsLocation = null; }\n  cliente.orderState.deliveryFee = 0; // TODO: PDV — calcular frete via API\n  cliente.etapa = 'aguardando_pagamento';\n  return [{ json: { ...dados, textoResposta: 'Endereço anotado 📍 Como vai pagar? Dinheiro, PIX ou cartão?', chamarLLM: false } }];\n}\n\nif (cliente.etapa === 'aguardando_pagamento') {\n  let metodo = null;\n  if (/pix/.test(msg)) metodo = 'PIX';\n  else if (/dinheiro|especie/.test(msg)) metodo = 'Dinheiro';\n  else if (/cart[ãa]o|credito|debito/.test(msg)) metodo = 'Cartão';\n  if (!metodo) return [{ json: { ...dados, textoResposta: 'Pode pagar com Dinheiro, PIX ou Cartão — qual prefere? 💳', chamarLLM: false } }];\n  cliente.orderState.paymentMethod = metodo;\n  cliente.orderState.grandTotal = cliente.orderState.itemsTotal + cliente.orderState.deliveryFee;\n  cliente.etapa = 'aguardando_confirmacao';\n  return [{ json: { ...dados, textoResposta: buildSummary(cliente.orderState) + '\\n\\nConfirmo o pedido? 😊', chamarLLM: false } }];\n}\n\nif (cliente.etapa === 'aguardando_confirmacao') {\n  if (/sim|pode|confirm|fechou|isso mesmo|t[áa] bom|t[áa] [óo]timo|ok/.test(msg)) {\n    cliente.orderState.status = 'confirmed';\n    // TODO: PDV — PDVAdapter.createOrder(cliente.orderState);\n    cliente.etapa = 'pedido_fechado';\n    if (sessao) sessao.estado = 'inicio';\n    return [{ json: { ...dados, textoResposta: 'Pedido confirmado! 🎉 Já estamos preparando tudo. Qualquer novidade te aviso aqui 😊', chamarLLM: false } }];\n  }\n  if (/n[ãa]o|cancel|errad|mud/.test(msg)) {\n    cliente.etapa = 'aguardando_item'; cliente.orderState = newOS(); cliente.lastItemAdded = null;\n    return [{ json: { ...dados, textoResposta: 'Sem problema! Me fala de novo o que você vai querer 😊', chamarLLM: false } }];\n  }\n  return [{ json: { ...dados, textoResposta: buildSummary(cliente.orderState) + '\\n\\nPosso confirmar? 👍', chamarLLM: false } }];\n}\n\n// ─── INTENÇÕES FIXAS ──────────────────────────────────────────────────────────\n\nif (/card[áa]pio|o que tem|ver (os )?pratos?|quais s[ãa]o|o que serve/.test(msg)) {\n  cliente.ultima_intencao = 'cardapio';\n  return [{ json: { ...dados, textoResposta: 'Aqui está nosso cardápio 👇\\n' + LINK_CARDAPIO + '\\n\\nViu algo que gostou? Me fala que eu anoto 😊', chamarLLM: false } }];\n}\n\nif (/quero( pedir)?|vou querer|p[eê]d(e|ir)|me manda|manda (um|uma|o|a)|queria( pedir)?/.test(msg)) {\n  cliente.etapa = 'aguardando_item'; cliente.orderState = newOS(); cliente.lastItemAdded = null;\n  if (sessao) sessao.estado = 'pedido';\n  const quantity = extractQuantity(msgOrig);\n  const product = MenuService.findProductByText(msg);\n  const observations = extractObservations(msgOrig);\n  if (product) {\n    addItemToOrder(cliente.orderState, product, quantity, observations);\n    cliente.lastItemAdded = product.id;\n    cliente.etapa = 'aguardando_complemento';\n    const obsText = observations.length ? ' (' + observations.join(', ') + ')' : '';\n    return [{ json: { ...dados, textoResposta: 'Anotado: ' + quantity + 'x ' + product.name + obsText + ' 😊\\nQuer adicionar alguma bebida ou acompanhamento?', chamarLLM: false } }];\n  }\n  const rs = ['Me fala o que vai querer 😊', 'Claro! O que você vai pedir?', 'Boa! Me diz que eu anoto 👍'];\n  return [{ json: { ...dados, textoResposta: rs[Math.floor(Math.random() * rs.length)], chamarLLM: false } }];\n}\n\nif (msg === '__localizacao__' && dados.localizacao) {\n  if (cliente.etapa === 'aguardando_endereco') {\n    cliente.orderState.gpsLocation = dados.localizacao; cliente.orderState.deliveryFee = 0;\n    cliente.etapa = 'aguardando_pagamento';\n    return [{ json: { ...dados, textoResposta: 'Localização recebida! 📍 Como vai pagar? Dinheiro, PIX ou Cartão?', chamarLLM: false } }];\n  }\n  return [{ json: { ...dados, textoResposta: 'Localização recebida 📍 Quer fazer um pedido para entrega?', chamarLLM: false } }];\n}\n\nif (/onde fica|endere[çc]o do restaurante|como cheg|mapa|compensa/.test(msg)) {\n  return [{ json: { ...dados, textoResposta: '📍 *Av. Coronel Cyrillo Neves, nº 41 — Compensa 3*, Manaus/AM\\nhttps://www.google.com/maps?q=Av.+Coronel+Cyrillo+Neves,+41+Compensa+Manaus+AM', chamarLLM: false } }];\n}\n\nif (/hor[áa]rio|aberto|fechado|funcionamento|quando abre|quando fecha/.test(msg)) {\n  const rA = diaSemana >= 1 && diaSemana <= 6 && hora >= 11 && hora < 15;\n  const lA = hora >= 19 && hora < 23;\n  const st = rA ? '🟢 Abertos agora! (almoço)' : lA ? '🟢 Abertos agora! (lanches/jantar)' : '🔴 Fechados no momento.';\n  return [{ json: { ...dados, textoResposta: st + '\\n\\n🍽️ Almoço: Seg a Sáb, 11h–15h\\n🍔 Lanches/Jantar: Todos os dias, 19h–23h', chamarLLM: false } }];\n}\n\nif (/pagamento|pagar|pix|cart[ãa]o|dinheiro|cr[eé]dito|d[eé]bito/.test(msg)) {\n  return [{ json: { ...dados, textoResposta: 'Aceitamos dinheiro, PIX e cartão (crédito e débito) 💳', chamarLLM: false } }];\n}\n\nif (/frete|taxa de entrega|cobr.*entrega/.test(msg)) {\n  return [{ json: { ...dados, textoResposta: 'A taxa depende do seu bairro. Me passa o endereço que eu confirmo o valor 😊', chamarLLM: false } }];\n}\n\nif (/status|meu pedido|onde est[áa] meu|saiu pra entrega/.test(msg)) {\n  if (sessao) sessao.estado = 'humano';\n  return [{ json: { ...dados, textoResposta: 'Vou verificar com a equipe! Um instante 👍', chamarLLM: false } }];\n}\n\nif (/atendente|humano|pessoa|gerente|falar com algu/.test(msg)) {\n  if (sessao) sessao.estado = 'humano';\n  return [{ json: { ...dados, textoResposta: 'Vou te passar pra um atendente agora 👍\\n📞 (92) 98621-0138', chamarLLM: false } }];\n}\n\nif (/telefone|ligar|n[úu]mero|contato/.test(msg)) {\n  return [{ json: { ...dados, textoResposta: '📞 (92) 98621-0138 — pode falar por aqui mesmo! 😊', chamarLLM: false } }];\n}\n\n// ─── LLM fallback ─────────────────────────────────────────────────────────────\ncliente.estado = 'conversa'; cliente.ultima_intencao = 'geral';\nif (!sessao.historico) sessao.historico = [];\nsessao.historico.push({ role: 'user', content: msgOrig });\nif (sessao.historico.length > 12) sessao.historico = sessao.historico.slice(-12);\n\nconst systemPrompt = 'Você é o atendente do Grill Central, Manaus/AM. Fala como uma pessoa real — natural, próxima, sem parecer robô.\\n\\nSEU ÚNICO OBJETIVO: conduzir a conversa para o cliente fazer um pedido.\\n\\nREGRAS ABSOLUTAS:\\n- Nunca liste produtos ou preços\\n- Nunca use menus numerados\\n- Máximo 2 frases por resposta\\n- Se perguntar sobre produtos, mande o link: ' + LINK_CARDAPIO + '\\n\\nTOM: caloroso, direto, como quem trabalha na lanchonete.\\nGrill Central | Manaus/AM | (92) 98621-0138\\nAlmoço Seg-Sáb 11h-15h | Lanches/Jantar todos os dias 19h-23h';\n\nreturn [{ json: { ...dados, chamarLLM: true, llmPayload: { model: 'gpt-4o-mini', max_tokens: 150, temperature: 0.55,\n  messages: [{ role: 'system', content: systemPrompt }, ...sessao.historico] } } }];\n"
      },
      "id": "7f5e7b02-6af6-4227-9249-f9deafd0bfdb",
      "name": "Processador IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/message/sendText/{{EVOLUTION_INSTANCE}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{EVOLUTION_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.numeroLimpo }}"
            },
            {
              "name": "text",
              "value": "={{ $json.textoResposta }}"
            }
          ]
        },
        "options": {}
      },
      "id": "36727e5a-01a6-4aef-8aea-2961e2159cf9",
      "name": "Enviar Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        48
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "d52d78b7-e2a1-4cb6-b2e0-0e2bae9610c0",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        704,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "audioMessage",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "audio-detect-01",
      "name": "Detectar Áudio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        560,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst erro = dados.audioErro;\nlet msg = 'Não consegui entender o áudio. Pode enviar em texto?';\nif (erro === 'longo') msg = 'Para agilizar, pode enviar em texto 🙂';\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://evolution-api:8080/message/sendText/{{EVOLUTION_INSTANCE}}',\n  headers: { 'Content-Type': 'application/json', 'apikey': '{{EVOLUTION_API_KEY}}' },\n  body: { number: dados.numeroLimpo, text: msg },\n  json: true\n});\nreturn [{ json: { ...dados, textoResposta: msg } }];"
      },
      "id": "audio-error-01",
      "name": "Enviar Erro Áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst rawMsg = dados._raw?.data?.message || {};\nconst audioMsg = rawMsg.audioMessage;\nif (!audioMsg) return [{ json: { ...dados, audioOk: false, audioErro: 'sem_midia' } }];\nfunction toBase64(obj) {\n  if (!obj) return obj;\n  if (typeof obj === 'object') {\n    const values = Object.values(obj);\n    if (values.length > 0 && typeof values[0] === 'number') return Buffer.from(values).toString('base64');\n  }\n  return obj;\n}\nconst audioConvertido = {\n  ...audioMsg,\n  mediaKey: toBase64(audioMsg.mediaKey),\n  fileSha256: toBase64(audioMsg.fileSha256),\n  fileEncSha256: toBase64(audioMsg.fileEncSha256),\n  streamingSidecar: toBase64(audioMsg.streamingSidecar)\n};\nreturn [{ json: { ...dados, audioConvertido, keyAudio: dados._raw?.data?.key } }];"
      },
      "id": "node-preparar-audio",
      "name": "Preparar Dados do Áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/chat/getBase64FromMediaMessage/{{EVOLUTION_INSTANCE}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{EVOLUTION_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: { key: $json.keyAudio, message: { audioMessage: $json.audioConvertido } }, convertToMp4: false }) }}",
        "options": {}
      },
      "id": "node-baixar-audio",
      "name": "Baixar Áudio (Evolution)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.base64 }}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "node-verificar-download",
      "name": "Download OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1248,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{OPENAI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "language",
              "value": "pt"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file"
            }
          ]
        },
        "options": {}
      },
      "id": "node-transcrever-whisper",
      "name": "Transcrever (Whisper)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nlet texto = dados.text || '';\ntexto = texto.replace(/\\b(é+|ah+|hã+|hum+|tipo assim|tipo|né)\\b/gi,'').replace(/\\s+/g,' ').trim();\nreturn [{ json: { ...dados, audioOk: true, mensagem: texto, mensagemOriginal: texto } }];"
      },
      "id": "node-limpar-texto",
      "name": "Limpar Texto Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-chama-llm",
              "leftValue": "={{ $json.chamarLLM }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "verif-llm-001",
      "name": "Verificar chamarLLM",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        384,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.llmPayload) }}",
        "options": {}
      },
      "id": "openai-teste-001",
      "name": "OpenAI_TESTE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const openaiResp = $input.first().json;\nconst dadosOriginais = $('Processador IA').first().json;\nlet respostaFinal = 'Tive um problema técnico. Pode repetir?';\nif (openaiResp?.choices?.[0]?.message?.content) {\n  respostaFinal = openaiResp.choices[0].message.content;\n}\nreturn [{ json: { ...dadosOriginais, textoResposta: respostaFinal } }];"
      },
      "id": "extrair-oai-001",
      "name": "Extrair_OpenAI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.metricas_atendimento) staticData.metricas_atendimento = [];\nconst agora = Date.now();\nconst duasHoras = 2 * 60 * 60 * 1000;\nconst numero = dados.remoteJid || '';\nconst registroRecente = staticData.metricas_atendimento.find(\n  r => r.numero === numero && r.etapa === 'inicio' && (agora - r.data) < duasHoras\n);\nif (!registroRecente && numero) {\n  staticData.metricas_atendimento.push({ numero, etapa: 'inicio', data: agora });\n  if (staticData.metricas_atendimento.length > 1000)\n    staticData.metricas_atendimento = staticData.metricas_atendimento.slice(-1000);\n}\nreturn [$input.first()];"
      },
      "id": "metric-ini-001",
      "name": "Registrar_Inicio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-visita",
              "leftValue": "={{ $json.mensagem }}",
              "rightValue": "quero pedir|vou pedir|me manda|quero|vou querer|pode mandar|manda (um|uma)",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "metric-dtv-001",
      "name": "Detectar_Visita",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -400,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.metricas_atendimento) staticData.metricas_atendimento = [];\nconst numero = dados.remoteJid || '';\nconst agora = Date.now();\nconst umaHora = 60 * 60 * 1000;\nconst jaRegistrado = staticData.metricas_atendimento.some(\n  r => r.numero === numero && r.etapa === 'interesse_pedido' && (agora - r.data) < umaHora\n);\nif (!jaRegistrado && numero)\n  staticData.metricas_atendimento.push({ numero, etapa: 'interesse_pedido', data: agora });\nreturn [$input.first()];"
      },
      "id": "metric-vis-001",
      "name": "Registrar_Visita",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.metricas_atendimento) staticData.metricas_atendimento = [];\nconst numero = dados.remoteJid || '';\nconst agora = Date.now();\nconst temInicio = staticData.metricas_atendimento.some(r => r.numero === numero && r.etapa === 'inicio');\nconst jaRespondeu = staticData.metricas_atendimento.some(r => r.numero === numero && r.etapa === 'respondeu');\nif (temInicio && !jaRespondeu && numero)\n  staticData.metricas_atendimento.push({ numero, etapa: 'respondeu', data: agora });\nreturn [$input.first()];"
      },
      "id": "metric-res-001",
      "name": "Registrar_Resposta_Cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.logsAtendimento) staticData.logsAtendimento = [];\nconst logs = staticData.logsAtendimento;\nconst numero    = dados.remoteJid || '';\nconst mensagem  = (dados.mensagemOriginal || dados.mensagem || '').substring(0, 200);\nconst resposta  = (dados.textoResposta || '').substring(0, 300);\nconst chamarLLM = dados.chamarLLM === true;\nconst mem       = (staticData.memoriaClientes || {})[numero] || {};\nconst estado    = mem.estado || (chamarLLM ? 'conversa' : 'fixo');\nconst agora     = Date.now();\nconst ultimoLog = [...logs].reverse().find(l => l.numero === numero);\nconst deltaMs   = ultimoLog ? agora - ultimoLog.timestamp : null;\nlogs.push({\n  numero,\n  mensagemCliente: mensagem,\n  respostaBot:     resposta,\n  estado,\n  chamarLLM,\n  deltaSegundos:   deltaMs !== null ? Math.round(deltaMs / 1000) : null,\n  timestamp:       agora\n});\nif (logs.length > 500) staticData.logsAtendimento = logs.slice(-500);\nconst all  = staticData.logsAtendimento;\nconst total = all.length;\nconst comIA = all.filter(l => l.chamarLLM).length;\nconst pedidos = all.filter(l => l.estado === 'pedido').length;\nconst deltas = all.map(l => l.deltaSegundos).filter(d => d !== null && d < 3600);\nconst dMedia = deltas.length ? Math.round(deltas.reduce((a,b)=>a+b,0)/deltas.length) : null;\nstaticData.resumoLogs = {\n  totalInteracoes:        total,\n  pctRespostasIA:         total ? +(comIA/total*100).toFixed(1) : 0,\n  pctRespostasFixas:      total ? +((total-comIA)/total*100).toFixed(1) : 0,\n  pctInteressePedido:     total ? +(pedidos/total*100).toFixed(1) : 0,\n  tempoMedioEntreMsg_seg: dMedia,\n  atualizadoEm:           agora\n};\nreturn [{ json: dados }];"
      },
      "id": "registrar-log-001",
      "name": "Registrar_Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        384
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar": {
      "main": [
        [
          {
            "node": "Registrar_Inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pode Responder?": {
      "main": [
        [
          {
            "node": "Motor de Estado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Motor de Estado": {
      "main": [
        [
          {
            "node": "Roteador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteador": {
      "main": [
        [
          {
            "node": "Menu Principal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Processador IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu Principal": {
      "main": [
        [
          {
            "node": "Registrar_Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processador IA": {
      "main": [
        [
          {
            "node": "Registrar_Resposta_Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Resposta": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Áudio": {
      "main": [
        [
          {
            "node": "Preparar Dados do Áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pode Responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados do Áudio": {
      "main": [
        [
          {
            "node": "Baixar Áudio (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Áudio (Evolution)": {
      "main": [
        [
          {
            "node": "Download OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download OK?": {
      "main": [
        [
          {
            "node": "Transcrever (Whisper)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Erro Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever (Whisper)": {
      "main": [
        [
          {
            "node": "Limpar Texto Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Texto Final": {
      "main": [
        [
          {
            "node": "Pode Responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar chamarLLM": {
      "main": [
        [
          {
            "node": "OpenAI_TESTE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar_Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI_TESTE": {
      "main": [
        [
          {
            "node": "Extrair_OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair_OpenAI": {
      "main": [
        [
          {
            "node": "Registrar_Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar_Inicio": {
      "main": [
        [
          {
            "node": "Detectar Áudio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detectar_Visita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar_Visita": {
      "main": [
        [
          {
            "node": "Registrar_Visita",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Registrar_Resposta_Cliente": {
      "main": [
        [
          {
            "node": "Verificar chamarLLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar_Log": {
      "main": [
        [
          {
            "node": "Enviar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "lancheflow-v2-0-0",
  "meta": {
    "instanceId": "c9dff6db832674f2ea58a6147f22feaf75b575ccf5b41067a27c5c0b1891031d"
  },
  "id": "LancheFlowGrillCentral01",
  "tags": [
    "restaurante",
    "delivery",
    "whatsapp"
  ]
}